.bigBox{
    min-height: 100%;
    display: flex;
}
.topRouteBox{
    width: 100%;
    position: relative;
}
.topRouteBox>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height:100%;
    z-index: 0;
    padding-top: 56px;
    box-sizing: border-box;
    display: flex;
}
.indexBox{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../static/img/bg2.jpg);
    min-height: 100%;
}
 .indexNav{
    height: 56px;
    font-size: 28px;
    background-color: rgba(256, 256, 256, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}
 .indexNav li{
    margin-right: 30px;
    height: 100%;
   
    line-height: 56px;
}

 .indexNav li:last-of-type{
    margin: 0;
}
 .indexNav li a{
    padding:0 30px;
    display: block;
    color: transparent;
    /* background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear; */
    -webkit-text-stroke:1px #DCD7BE;
    -webkit-text-fill-color: #E4DFC8;
    /* #DCD7BE
    #E4DFC8 */
}
@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
  
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
  